body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(gambar.jpg) no-repeat center center fixed; 
    background-size: cover;
    color: #fff;
}

header {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-content h1 {
    margin: 0;
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.section {
    padding: 60px 20px;
    margin-top: 250px; 
}

.main-content {
    text-align: center;
    padding-top: 150px; 
    margin: 110px;
}

.main-content h2 {
    font-size: 48px;
    margin: 40px;
}

.main-content p {
    margin: 20px 0;
    font-size: 18px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    background-color: transparent;
    border: 2px solid chocolate;
    color: #fff;
    padding: 10px 20px;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: gray;
    color: #000;
}